.mnc-container {
    width: 800px;
    margin: 3rem auto;
    > h1 {
        padding: 0.5rem 1rem 1rem 1rem;
        background-color: #3fd36b;
        border-radius: 3px;
        color: #ffffff;
        margin: auto;
        width: 350px;
        text-align: center;
    }
    .mnc {
        width: 100%;
        background-color: palegoldenrod;
        outline: 10px solid black;
        border-radius: 3px;
        box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.7);
        box-sizing: content-box;
        height: 400px;
        display: flex;
        align-items: flex-end;
        position: relative;
        .terrain {
            margin-top: auto;
            display: flex;
            flex: 1;
            position: relative;
            .land {
                position: relative;
                margin-top: auto;
                flex: 1;
                background-color: rgb(131, 78, 29);
                height: 225px;
            }
            .character-set-container {
                position: absolute;
                top: -50px;
                display: flex;
                gap: 1rem;
                padding: 0px 1rem;
                .character-set {
                    gap: 0.5rem;
                    display: flex;
                    .character {
                        width: 20px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: 100%;
                        }
                    }
                    // .missionary {
                    //     background-color: green;
                    // }
                    // .cannibal {
                    //     background-color: red;
                    // }
                }
            }
            .water {
                position: relative;
                margin-top: auto;
                background-color: rgb(73, 166, 202);
                height: 200px;
                flex: 1.5;
                z-index: 3;
                .boat {
                    position: absolute;
                    width: 120px;
                    top: -40px;
                    z-index: -1;
                    transition: 1s all linear;
                    img {
                        width: 100%;
                    }
                    .character-set-container {
                        z-index: 1;
                        top: -25px;
                        width: 100%;
                        .character-set {
                            flex: 1;
                            &:nth-child(2) {
                                .character {
                                    margin-left: auto;
                                }
                            }
                        }
                    }
                }
                .boat-left {
                    transform: translateX(0%);
                }
                .boat-right {
                    transform: translateX(185%);
                }
            }
        }
    }
    .game-over {
        background-color: black;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        z-index: 5;
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex-direction: column;
    }
    .game-over h1 {
        font-size: 3rem;
        color: white;
    }
    .game-over p {
        display: flex;
        align-items: baseline;
        color: white;
        gap: 1rem;
    }
    .game-over p span {
        background-color: #3fd36b;
        height: 30px;
        padding: 0px 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border-radius: 3px;
    }
    .game-over h2 {
        color: white;
        font-size: 1.5rem;
    }
    .game-over button {
        background-color: #3fd36b;
        height: 30px;
        padding: 0px 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        border: 3px solid transparent;
        transition: 0.25s all ease;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
    .game-over button:hover {
        border-color: #3fd36b;
        background-color: transparent;
        color: #3fd36b;
    }
    .stats {
        width: 350px;
    }
    .stats > *, .edit-puzzle button {
        background-color: #3fd36b;
    }
}
