.puzzle-container {
	padding: 1.5rem;
}
.heading {
	padding: 0.5rem 1rem 1rem 1rem;
	background-color: #5D3FD3;
	border-radius: 3px;
	color: #FFFFFF;
	margin: auto;
	width: 200px;
	text-align: center;
}
.puzzle {
	display: grid;
	justify-content: center;
	align-items: center;
	outline: 10px solid black;
	border-radius: 3px;
	margin: auto;
	background-color: #1A1B1C;
	box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.7);
	box-sizing: content-box;
	padding: 1rem;
	position: relative;
}
.puzzle-row {
	display: flex;
}
.puzzle-cell {
	padding: 0.25rem;
}
.puzzle-piece {
	border-radius: 3px;
}
.stats {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	margin: auto;
	justify-content: space-between;
}
.stats > *, .edit-puzzle button {
	margin-top: 0.5rem;
	background-color: #5D3FD3;
	height: 35px;
	color: #FFFFFF;
	padding: 0.5rem 1rem;
	border-radius: 3px;
	border: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.stats button, .edit-puzzle button {
	font-size: 1rem;
	cursor: pointer;
}
.edit-puzzle {
	background-color: #1A1B1C;
	margin: 3rem auto;
	width: 600px;
	padding: 3rem 1rem;
	border: 5px solid black;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}
.edit-puzzle h3 {
	color: white;
	font-size: 1.5rem;
}
.edit-puzzle-input {
	width: 100%;
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
}
.edit-puzzle-input label {
	color: white;
}
.edit-puzzle-input input {
	outline: none;
	height: 40px;
	padding: 0px 0.5rem;
	font-size: 1rem;
	background-color: transparent;
	border: 0px;
	border-bottom: 2px solid #5D3FD3;
	color: white;
}
.puzzle-finished {
	background-color: rgba(0, 0, 0, 0.9);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	flex-direction: column;
}
.puzzle-finished h1 {
	font-size: 3rem;
	color: #5D3FD3;
}
.puzzle-finished h3 {
	color: white;
	font-size: 1.5rem;
}
.puzzle-finished p {
	color: white;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.puzzle-finished p span {
	background-color: #3fb5d3;
	height: 30px;
	padding: 0px 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 1.25rem;
	border-radius: 3px;
}