.rock-paper-scissors-container {
    width: 800px;
    margin: 3rem auto;
    > h1 {
        padding: 0.5rem 1rem 1rem 1rem;
        background-color: #3fb5d3;
        border-radius: 3px;
        color: #FFFFFF;
        margin: auto;
        width: 300px;
        text-align: center;
    }
    .rock-paper-scissors {
        width: 100%;
        background-color: #1a1b1c;
        padding: 3rem;
        outline: 10px solid black;
        border-radius: 3px;
        box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.7);
        box-sizing: content-box;
        padding: 3rem 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        h3 {
            color: white;
        }
        .choices {
            display: flex;
            gap: 1rem;
            button {
                outline: none;
                background-color: #3fb5d3;
                border: 0px;
                font-size: 1.25rem;
                height: 40px;
                width: 120px;
                border-radius: 3px;
                color: white;
                cursor: pointer;
                border: 2px solid transparent;
                transition: 0.25s all ease;
                &:hover {
                    border-color: #3fb5d3;
                    background-color: transparent;
                    h2 {
                        color: #3fb5d3;
                    }
                }
            }
        }
        .result-set {
            display: flex;
            gap: 3rem;
            color: white;
            p {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                span {
                    border-radius: 3px;
                    background-color: #3fb5d3;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    font-size: 1.25rem;
                }
            }
        }
        .result {
            margin: 1rem auto;
            .result-images {
                display: flex;
                justify-content: space-evenly;
                gap: 3rem;
                .result-image {
                    background-color: white;
                    border-radius: 3px;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 1rem;
                    text-align: center;
                    font-size: 1.25rem;
                    width: 200px;
                    height: 250px;
                    img {
                        width: 100%;
                    }
                }                
            }
            h1 {
                margin-top: 1.5rem; 
                font-size: 3rem;
                color: #3fb5d3;
                text-align: center;
            }
        }
    }
}
.result-image-shaking {
    animation: shake 0.3s linear infinite alternate-reverse;
}
@keyframes shake {
    0% {
        transform: translateY(-0.5rem);
    }
    100% {
        transform: translateY(0.5rem);
    }
}