.home {
    margin: 3rem auto;
    background-color: #1A1B1C;
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.7);
    border: 5px solid;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    animation: shuffleBorderColor 10s linear infinite alternate-reverse;
    width: min(400px, 90%);
    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        color: white;
    }
    h2 {
        color: white;
    }
    a {
        text-decoration: none;
        &:nth-child(2) {
            .game {
                background-color: #3fb5d3;
                &:hover {
                    border-color: #3fb5d3;
                    background-color: transparent;
                    h2 {
                        color: #3fb5d3;
                    }
                }
            }
        }
        &:nth-child(3) {
            .game {
                background-color: #d3443f;
                &:hover {
                    border-color: #d3443f;
                    background-color: transparent;
                    h2 {
                        color: #d3443f;
                    }
                }
            }
        }
        &:nth-child(4) {
            .game {
                background-color: #3fd36b;
                &:hover {
                    border-color: #3fd36b;
                    background-color: transparent;
                    h2 {
                        color: #3fd36b;
                    }
                }
            }
        }
    }
    .game-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .game {
            background-color: #5D3FD3;
            height: 50px;
            padding: 0px 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px  ;
            border: 3px solid transparent;
            transition: 0.25s all ease;
            &:hover {
                border-color: #5D3FD3;
                background-color: transparent;
                h2 {
                    color: #5D3FD3;
                }
            }
        }
    }
}
@keyframes shuffleBorderColor {
    0% {
        border-color: #5D3FD3;
    }
    20% {
        border-color: #3fb5d3;
    }
    40% {
        border-color: #3fd36b;
    }
    60% {
        border-color: #bdd33f;
    }
    80% {
        border-color: #d3983f;
    }
    100% {
        border-color: #d3443f;
    }
}
