.home {
    margin: 3rem;
    background-color: #1A1B1C;
    padding: 1.5rem;
    border-radius: 3px;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.7);
    border: 5px solid #5D3FD3;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}
.home h1 {
    font-size: 2.5rem;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #5D3FD3;
    font-weight: bold;
}
.home a {
    text-decoration: none;
}
.home h2 {
    color: white;
}
.game-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.game {
    background-color: #5D3FD3;
    height: 50px;
    padding: 0px 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px  ;
    border: 3px solid transparent;
    transition: 0.25s all ease;
}
.game:hover {
    border-color: #5D3FD3;
    background-color: transparent;
}
.game:hover h2 {
    color: #5D3FD3;
}
