body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.flappy-bird-container {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.flappy-bird-container > h1 {
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: #d3443f;
  border-radius: 3px;
  color: #ffffff;
  margin: auto;
  width: 300px;
  text-align: center;
}

.screen {
  margin: auto;
  position: relative;
  width: 95vw;
  max-width: 1200px;
  height: 70vh;
  max-height: 600px;
  background-image: url("https://t3.ftcdn.net/jpg/02/28/37/48/360_F_228374822_swvpReqovxC0uM7awKLmwqEO8lyC0nki.jpg");
  background-size: cover;
  overflow: hidden;
  border: 10px solid black;
  border-radius: 3px;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.7);
}

.player {
  position: absolute;
  z-index: 2;
}

.player img {
  width: 100%;
}

.obstacle {
  position: absolute;
}

.score {
  position: absolute;
  color: white;
  font-size: 4rem;
  right: 1rem;
  top: 0rem;
  z-index: 3;
}

.game-over {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}

.game-over h1 {
  font-size: 2.5rem;
  color: white;
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.game-over h1 span {
  background-color: #d3443f;
  height: 60px;
  padding: 0px 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 3px;
}

.game-over h2 {
  color: white;
  font-size: 1.5rem;
}

.game-over button {
  background-color: #d3443f;
  height: 40px;
  padding: 0px 1.5rem;
  border-radius: 3px;
  border: 3px solid transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.game-over button:hover {
  border-color: #d3443f;
  background-color: transparent;
  color: #d3443f;
}

/* MOBILE */
@media (max-width: 768px) {
  .flappy-bird-container > h1 {
    width: 90%;
    font-size: 1.2rem;
  }

  .score {
    font-size: 2.5rem;
  }
}
