.flappy-bird-container {
  width: 100vw;
  height: calc(100vh - 2rem);
  padding: 1rem;
}
.flappy-bird-container > h1 {
  padding: 0.5rem 1rem 1rem 1rem;
	background-color: #d3443f;
	border-radius: 3px;
	color: #FFFFFF;
	margin: auto;
	width: 300px;
	text-align: center;
}
.screen {
  margin: auto;
  position: relative;
  width: 70vw;
  height: 70vh;
  background-image: url('https://t3.ftcdn.net/jpg/02/28/37/48/360_F_228374822_swvpReqovxC0uM7awKLmwqEO8lyC0nki.jpg');
  background-size: cover  ;
  overflow: hidden;
  border: 10px solid black;
  border-radius: 3px;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.7);
}
.player  {
  width: 120px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.player img {
  width: 100%;
}
.obstacle {
  position: absolute;
}
.score {
  position: absolute;
  color: white;
  font-size: 5rem;
  right: 1rem;
  top: 0rem;
  z-index: 3;
}
.game-over {
  background-color: black;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 5;
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	flex-direction: column;
}
.game-over h1 {
	font-size: 3rem;
	color: white;
  display: flex;
  align-items: baseline;
  gap: 1rem;
}
.game-over h1 span {
  background-color: #d3443f;
	height: 60px;
	padding: 0px 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	border-radius: 3px;
}
.game-over h2 {
	color: white;
	font-size: 1.5rem;
}
.game-over button {
	background-color: #d3443f;
  height: 30px;
  padding: 0px 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px ;
  border: 3px solid transparent;
  transition: 0.25s all ease;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.game-over button:hover {
    border-color: #d3443f;
    background-color: transparent;
    color: #d3443f;
}
