@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&display=swap');
html {
  overflow-x: hidden;
}

body {
  margin: 0;
font-family: Dosis; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://i.ytimg.com/vi/wVCuNtZNBH4/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}